version: "3.9"

services:
  postgres:
    image: postgres:14
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: BookCatalog
      POSTGRES_USER: pguser
      POSTGRES_PASSWORD:  pgpassword
